*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    
}


.bluestrong{
    color: #06A6FC;
}

.blueimage{
    width: 9em;
    
}

.blueimage2 
{
    width: 4em;
}

#imgslider{
    width: 100px;
    margin-top: 10px;
}

:root{
    --bg-color:var(--bg-color) #1d2631;
    --tex-color: #fff;
    --main-color: #06A6FC;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}


body{
    background-color:#1d2631 ;
    color: var(--tex-color);
}



header{
    
    width: 100%;
    top: 0;
    right: 20px;
    
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3%;

}


.logo{
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 28px;
    font-weight: bold;
}

.logo i{
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navegação{
    display: flex;
}

.navegação a{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover{
    color: var(--main-color);

}


.header-icons{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}


.section{

    padding: 0 15%;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    top: 0em;
}

.home-text h1{
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text h5{
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}

.home-text h2{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.home-text h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.home-text h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;
}


.home-img img{
    max-width: 100%;
    width: 28rem;
    height: auto;
    margin-left: 25%;
}


.btn{
    border-radius: 15px;
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: solid 2px var(--tex-color);
    transition: all.55 ease;
    color: #fff;
}

.btn:hover{
    background-color: #06A6FC;
    border: 2px solid var(--tex-color);
    color: #fff;
}

.main{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main li img{
    width: 50px;
    height: auto;
    max-width: 100%;
}

.row{
    background: var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
    display: inline-flex;
}

.row:hover {
    transform: translateY(-8px);

}

.row2{
    background: #fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
}

.row2:hover{
    transform: translateY(-8px);
}

.row3{
    background: #06A6FC;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;

}

.row3:hover{
    transform: translateY(-8px);
}

footer{
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
   background-image: linear-gradient(to left,#1d2631  40%, #1d2631); 
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: #fff;
    top: -10px;
    
}

.footer__p{
    color: #fff;
    font-size: 19px;
}

.footer__texto{
    color: white;
}

.text{
    color: #fff;
}



.email{
    margin-top: 1em;
}





.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #06A6FC;
    top: -10px;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    background: #1a1a1a;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #808080;
}
.left .content p{
    text-align: justify;
}
.center .content .fas{
    font-size: 23px;
    background: white;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #808080;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background: #1d2631;
    padding-left: 10px;
    border: 1px solid #06A6FC;
    color: white;
    
}
.right form input{
    height: 35px;
}
.right form input:focus,
.right form textarea:focus{
    /* outline-color: #3498db; */
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color: #fff;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    background: white;
    color: #06A6FC;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;

}
.right form .btn button:hover{
    background: #808080;
}
.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: #151515;
    text-align: center;
}
.bottom .center span{
    color: #656565;
}
.bottom .center a{
    
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
}